:root {
  --primary-color: #8a2be2;
  --secondary-color: white;
  --padding-top: 50px;
  --body-font-family: "Source Code Pro", monospace;
}
.button-link {
  text-align: center;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 15px 15px;
  text-decoration: none;
}
a:hover {
  color: black;
}
body {
  color: var(--secondary-color);
  background-color: rgb(23, 23, 23);
  font-family: var(--body-font-family);
}

.nav-link {
  color: var(--secondary-color);
  display: flex;
  margin-left: 25px;
  padding-top: var(--padding-top);
}

.nav-link-active {
  color: palevioletred;
  text-decoration: none;
  padding-top: var(--padding-top);
  margin-left: 25px;
  display: flex;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link-active:hover {
  color: var(--primary-color);
}
.logo {
  color: var(--primary-color);
  margin-left: 25px;
  margin-top: 20px;
  -webkit-text-stroke: 0.7px rgb(82, 80, 80);
}
h4 {
  font-size: 20px;
}
.initials {
  font-size: 40px;
  margin-left: 45px;
  font-family: "Allerta Stencil", sans-serif;
  -webkit-text-stroke: 1px rgb(82, 80, 80);
}

h2 {
  font-size: 55px;
  display: flex;
  font-weight: bold;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 25px;
}
.reach-me {
  margin-top: 50px;
  margin-left: 10px;
}
.icons {
  margin-left: 20px;
  padding-top: var(--padding-top);
  font-size: 25px;
}
img {
  max-width: 40%;
  border: #8a2be2;
  margin-top: -130px;
  padding-right: 10px;
  padding-bottom: 50px;
}
.about-subHeading {
  font-size: 25px;
}
.about-heading {
  font-size: 36px;
  font-weight: bold;
}
.homeh1 {
  font-weight: bold;
}
.container-work {
  text-align: center;
}
.container {
  margin-left: -40px;
}
