:root {
  --primary-color: #8a2be2;
  --secondary-color: white;
  --padding-top: 50px;
  --body-font-family: "Source Code Pro", monospace;
  --font-weight: bold;
  --margin-top-titles: -20px;
}
.button-link:hover {
  color: darkmagenta;
}
a:hover {
  color: darkmagenta;
}
a {
  color: white;
}
body {
  color: var(--secondary-color);
  background-image: url(/images/vecteezy_abstract-blue-fluid-wave-background_17798503.jpg);
  background-size: cover;
  font-family: var(--body-font-family);
}
.nav-link {
  color: var(--secondary-color);
  margin-left: 25px;
  padding-top: var(--padding-top);
  font-size: 20px;
  margin-top: -20px;
}

.nav-link-active {
  color: darkmagenta;
  font-weight: bolder;
  text-decoration: none;
  margin-left: 25px;
  font-size: 20px;
}

.nav-link:hover {
  color: darkmagenta;
  font-weight: bolder;
}

.nav-link-active:hover {
  color: var(--secondary-color);
}

h4 {
  margin-left: -70px;
  width: 700px;
  padding-top: 53px;
  padding-left: 10px;
  margin-bottom: 30px;
}
h2 {
  display: flex;
  font-size: 20px;
  margin-left: 80px;
  font-weight: bold;
}
h3 {
  margin-left: -250px;
  text-align: center;
  color: darkmagenta;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 35px;
}
h5 {
  margin-top: -128px;
  padding-bottom: 30px;
}
h6 {
  margin-top: 25px;
  margin-left: 318px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--primary-color);
  color: white;
  text-align: center;
  width: 20%;
}
.contact-links {
  color: var(--secondary-color);
  text-decoration: none;
}
.contact-links:hover {
  color: #cb6ded;
}
.button-link-about {
  text-decoration: none;
  font-weight: var(--font-weight);
  padding-bottom: 100px;
}

.reach-me {
  margin-top: 50px;
  margin-left: 40px;
}
.icons,
.icons-work,
.icons-contact {
  margin-left: 20px;
  font-size: 25px;
  color: darkmagenta;
}
.icons-contact {
  margin-left: 8px;
}
img {
  max-width: 40%;
  margin-top: -130px;
  padding-bottom: 50px;
  padding-left: 50px;
  margin-left: 15px;
  padding-top: 80px;
}
.img-me {
  width: 2500px;
}
.about-subHeading {
  font-size: 20px;
  margin-left: 350px;
  margin-top: -150px;
}
.about-heading {
  font-size: 35px;
  font-weight: var(--font-weight);
  margin-left: 40px;
  text-shadow: 5px 5px 10px rgba(178, 77, 187, 0.4);
  color: #cb6ded;
  margin-top: 20px;
}

.heading {
  font-weight: var(--font-weight);
  margin-left: 350px;
  color: var(--secondary-color);
  text-shadow: 5px 5px 10px rgba(178, 77, 187, 0.4);
  color: #cb6ded;
  margin-top: -250px;
}
.headingC1 {
  font-weight: var(--font-weight);
  text-align: center;
  color: var(--secondary-color);
  text-shadow: 5px 5px 10px rgba(178, 77, 187, 0.4);
  color: #cb6ded;
  margin-top: var(--margin-top-titles);
}

.work-heading {
  margin-left: 390px;
  font-weight: var(--font-weight);
  font-size: 30px;
  text-shadow: 5px 5px 10px rgba(178, 77, 187, 0.4);
  color: #cb6ded;
  margin-top: var(--margin-top-titles);
}
.work-subheading {
  font-size: 20px;
  margin-left: 350px;
  margin-top: -150px;
}
.container {
  margin-left: -100px;
}
.index-subSection {
  margin-left: 250px;
  color: var(--secondary-color);
  margin-top: -150px;
}
@media (max-width: 768px) {
  .img-me,
  .weather-img,
  .croissant-img,
  .bat-img {
    display: none;
  }
  .about-heading {
    margin-left: -20px;
    padding-top: 100px;
    font-size: 30px;
    font-weight: var(--font-weight);
    color: darkmagenta;
  }
  .heading {
    margin-top: 300px;
    color: darkmagenta;
    margin-left: 100px;
  }
  .index-subSection {
    margin-top: 20px;
    margin-left: 70px;
  }

  .work-heading {
    margin-top: 150px;
    margin-left: 80px;
    color: darkmagenta;
  }
  .about-subHeading {
    width: 300px;
    padding-right: -30px;
    margin-left: 150px;
    padding-top: 200px;
  }
  h2 {
    width: 400px;
    margin-left: 10px;
  }
  h4 {
    display: none;
  }
  h3 {
    margin-left: -80px;
    margin-bottom: 80px;
    font-weight: bolder;
  }
  h5 {
    margin-left: -290px;
    width: 100%;
  }
  h6 {
    margin-left: 85px;
    width: 50%;
  }
  .croissant-title {
    margin-left: -45px;
    margin-top: -25px;
  }
  .weather-link,
  .bat-link {
    margin-left: -200px;
  }
  .croissant-link {
    margin-left: -225px;
  }

  .croissant-info {
    width: 100%;
  }
  .bat-info {
    width: 100%;
  }
  .headingC1 {
    margin-left: 70px;
    width: 100%;
    padding-bottom: 30px;
    margin-top: 200px;
    color: darkmagenta;
  }
  .icons {
    text-align: center;
    margin-left: -100px;
  }
  .icons-work {
    text-align: center;
    font-size: 25px;
    margin-left: -300px;
  }
  .icons-contact {
    margin-left: 170px;
  }

  .mobile {
    margin-left: -50px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -20px;
  }
  nav li {
    display: inline;
  }
  .small-nav {
    text-decoration: none;
  }

  .small-nav-active {
    text-shadow: 5px 5px 10px rgba(178, 77, 187, 0.4);
    color: darkmagenta;
    text-decoration: none;
    font-weight: bolder;
  }
  .large-screen {
    display: none;
  }
  hr {
    display: none;
  }
  .weather-title,
  .bat-title,
  .croissant-title {
    margin-top: 50px;
    padding-bottom: 30px;
  }
  .contact-links {
    margin-left: -2px;
  }
  a.button-link {
    margin-left: 55px;
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .headingC1 {
    padding-top: 20px;
  }
}
.croissant-info {
  margin-top: 80px;
}
.croissant-img {
  margin-top: 210px;
  width: 500px;
}
.container-img {
  margin-left: 310px;
  margin-top: 50px;
}
.weather-link,
.croissant-link,
.bat-link,
.button-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--primary-color);
  color: white;
  font-weight: var(--font-weight);
}
.button-link {
  margin-left: 300px;
}
.weather-link:hover,
.croissant-link:hover,
.bat-link:hover,
.button-link-about:hover {
  color: #cb6ded;
}

.weather-title,
.bat-title,
.croissant-title {
  font-weight: bolder;
  font-size: 30px;
  padding-left: 70px;
  text-shadow: 5px 5px 10px rgba(178, 77, 187, 0.4);
  color: darkmagenta;
}
.weather-title {
  padding-top: 50px;
}
.bat-title {
  padding-top: -100px;
}
.bat-info {
  margin-top: 50px;
}
.bat-img {
  width: 500px;
  padding-top: 135px;
  padding-left: 45px;
}
.weather-img {
  width: 500px;
}
hr {
  position: relative;
  top: 10px;
  border: none;
  height: 12px;
  background: black;
  width: 70%;
  margin: 0;
}
